# Discord Developer Portal (https://discord.com/developers/applications)
DISCORD_TOKEN=
DISCORD_APPLICATION_ID=

# Database (only sqlite is supported for now)
DATABASE_DIALECT=sqlite
DATABASE_URL=file:./data/bot.sqlite3
